.overviewTable {
  text-align: center;
}

.overviewTable th,
.overviewTable td {
  white-space: nowrap;
  padding: 10px 20px;
  font-family: Arial;
}



.overviewTable tr th:first-child,
.overviewTable  td:first-child {
  position: sticky;

  left: 0;
  z-index: 10;
  /* background: #d09999; */
  background: #fff;

}

.overviewTable tr th:nth-child(2),
.overviewTable td:nth-child(2)
{
  position: sticky;
  left: 60px;
  width: 150px;
  z-index: 10;
  background: #fff;
  
}

.overviewTable td:nth-child(2):hover
{
  background: rgb(240, 241, 242);
  cursor: pointer;
  
}
.overviewTable tr th:nth-child(2),
.overviewTable tr th:first-child
 {
  z-index: 11;
}
.overviewTable tr th {
  position: sticky;
  top: 0;
  z-index: 9;

}


 

.ValidatorTable th,
.ValidatorTable td {
  white-space: nowrap;
  padding: 10px 20px;
  font-family: Arial;
}



.ValidatorTable tr th:first-child,
.ValidatorTable  td:first-child {
  position: sticky;
  left: 0;
  z-index: 10;
  background: #fff;
  width: 250px;

}

