@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  select::-ms-expand {
    display: none;
    /* background-color: #66bb6a; */
  }
  select::-ms-expand {
    display: none;
  }
  
  /* Hide the default arrow for other browsers */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/dropdown\ icon.png');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: right center;
    /* Adjust position as needed */
    background-position-x: calc(100% - 15px); /* Move 10px from the right end */
    background-position-y: center; /* Center vertically */
  }
  body {
    @apply font-montserrat relative z-50;
  }
}

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col bg-[#f5f6fa]  pb-10 pt-10 max-md:pb-32 sm:px-3;
  }

  /* Head Text */
  .head-text {
    @apply text-3xl font-semibold leading-7 text-[#FFFFFF];
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto  bg-[#f5f6fa] pb-5 pt-10 pl-8 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .rightsidebar {
    @apply sticky right-0 bg-[#f5f6fa] top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto  px-5 pb-3 pt-3 max-xl:hidden;
  }
  .custom-button {
    @apply grow justify-center px-4 md:px-[12px] lg:px-[14px] py-[11px] text-primary border-2 border-primary  hover:text-white rounded-md lg:text-[15px] md:text-[14px] text-[12px] font-bold cursor-pointer delay-100 ease-in hover:bg-primary;
  }

  .admin-form-input {
    @apply mt-2 placeholder:text-[10px] bg-white sm:placeholder:text-xs md:placeholder:text-[12px] lg:placeholder:text-[14px] w-full text-black placeholder:text-neutral-400  items-start py-[8px] outline-none px-[8px]  md:px-[12px] sm:py-[14px] text-[10px] sm:text-xs md:text-[12px] lg:text-[14px]   whitespace-nowrap  rounded-lg border-[1.6px] border-[#B4178B] border-solid;
  }
  .admin-submit-button {
    @apply grow justify-center px-4 md:px-[12px] lg:px-[14px] py-[11px] text-primary border-2 border-primary  hover:text-white rounded-md lg:text-[15px] md:text-[14px] text-[12px] font-bold cursor-pointer delay-100 ease-in hover:bg-primary;
  }
  /* .admin-form-input{
    @apply mt-2 placeholder:text-[10px] bg-white   sm:placeholder:text-xs md:placeholder:text-[12px] lg:placeholder:text-[14px] w-full text-black  placeholder:neutral-400 items-start py-[8px] outline-none px-[8px]  md:px-[12px] sm:py-[14px] text-[10px] sm:text-xs md:text-[12px] lg:text-[14px]   whitespace-nowrap bg- rounded-lg border-[1.6px] border-[#B4178B] border-solid; 
  } */
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .css-invert {
    @apply invert-[50%] brightness-200;
  }

    .main-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    border-radius: 4px;
  }

  .main-scrollbar::-webkit-scrollbar-track {
    background: white;
    
  }

  .main-scrollbar::-webkit-scrollbar-thumb {
    background: #dadfe4;
    border-radius: 50px;
  }

  .main-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #E6EBF3;
    cursor:grab ;

  }

  /*  */

  .table-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    border-radius: 4px;
  }

  .table-scrollbar::-webkit-scrollbar-track {
    background: white;
  }

  .table-scrollbar::-webkit-scrollbar-thumb {
    background: #dadfe4;
    border-radius: 50px;
  }

  .table-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #E6EBF3;
    cursor:grab ;

  }

  .email-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background: white;
  }

  .emailscrollbar::-webkit-scrollbar-track {
    background: #191249;
  }

  .email-scrollbar::-webkit-scrollbar-thumb {
    background: #041130;
    border-radius: 50px;
  }

  .email-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6f6af8;
  }
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-[#121417] text-[#EFEFEF] data-[state=active]:bg-[#0e0e12] data-[state=active]:text-[#EFEFEF] !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.text-gradient {
  background: linear-gradient(90deg, #b4168d 2.34%, #67459d 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  
  /* text-fill-color: transparent; */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite; /* Adjust duration and timing function as needed */
}

/* nufi spinner */
.loader {
  position: relative;
  width: 5em; /* Increased width */
  height: 5em; /* Increased height */
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1em; /* Increased width */
  height: 1em; /* Increased height */
  border-radius: 0.5em; /* Adjusted border radius */
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 1em; /* Adjusted width */
    box-shadow: 2em -1em rgba(98, 73, 159, 0.75),
      -2em 1em rgba(98, 73, 159, 0.75);
  }
  35% {
    width: 5em; /* Adjusted width */
    box-shadow: 0 -1em rgba(98, 73, 159, 0.75), 0 1em rgba(98, 73, 159, 0.75);
  }
  70% {
    width: 1em; /* Adjusted width */
    box-shadow: -2em -1em rgba(98, 73, 159, 0.75),
      2em 1em rgba(98, 73, 159, 0.75);
  }
  100% {
    box-shadow: 2em -1em rgba(98, 73, 159, 0.75),
      -2em 1em rgba(98, 73, 159, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 1em; /* Adjusted height */
    box-shadow: 1em 2em rgba(180, 23, 139, 0.75),
      -1em -2em rgba(180, 23, 139, 0.75);
  }
  35% {
    height: 5em; /* Adjusted height */
    box-shadow: 1em 0 rgba(180, 23, 139, 0.75), -1em 0 rgba(180, 23, 139, 0.75);
  }
  70% {
    height: 1em; /* Adjusted height */
    box-shadow: 1em -2em rgba(180, 23, 139, 0.75),
      -1em 2em rgba(180, 23, 139, 0.75);
  }
  100% {
    box-shadow: 1em 2em rgba(180, 23, 139, 0.75),
      -1em -2em rgba(180, 23, 139, 0.75);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 2.5em); /* Adjusted top position */
  left: calc(50% - 2.5em); /* Adjusted left position */
}

/* dot spinner */

.dot-spinner {
  --uib-size: 3.8rem;
  --uib-speed: 0.9s;
  --uib-color: #b4168d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(180, 20, 141, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.custom-toast {
  background: rgba(148, 44, 122, 0.8) !important ;
  /* background: linear-gradient(90deg, rgba(180,23,139,1) 0%, rgba(103,69,157,1) 51%) !important; */
  color: white !important;
  border-radius: 15px !important;
  border: none;
  outline: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(3.8px) !important;
  -webkit-backdrop-filter: blur(3.8px) !important;
  border: 1px solid rgba(107, 12, 84, 0.08) !important;
}

/* for round check box */

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* google login */

.square-loader {
  width: 60px;
  height: 60px;
}

.square-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 2px solid #b4168d;
  border-right: 2px solid transparent;
  animation: spinner8217 1s linear infinite;
}

@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
}

.square-loader2 {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.square-loader2:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.square-loader2:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
